{% extends "app/base.html" %}
{% block content %}

<div class="container text-center">
 <h2>Hello there!</h2>
 <h6>Welcome to PDF Sharer, an easy way to manage and collab with others to share and discuss pdfs!</h6>
 
 <div class="container m-3">
 <h6>How it works?</h6>
 </div>
 <p> First, sign up to your account. Then upload pdfs and share them with others instantly!</p>
 <p> On the dashboard you would be able to see your pdfs and the pdfs shared with you. The shared pdfs are those pdfs which other users want you to see and discuss about it. Click on Discuss to see more info about the pdf and share or discuss it with other users. <p>
 <p><span style="font-size:12px;" class="badge badge-primary fs-4">NEW</span> Now reply to other users comments to engage in a conversation like a forum! </p>
 <p><span style="font-size:12px;" class="badge badge-primary fs-4">NEW</span> Now comment as a guest (without login) on the discuss forum! </p>

</div> 


{% endblock %}